.window-drag {
  user-select: none;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
.titlebar {
  @apply flex flex-row items-center justify-start bg-gray-600;
  height: 60px;
  width: 100%;
  background: #329ea3;
}

.titlebar-buttons {
  @apply flex flex-row items-center justify-self-stretch;
  justify-self: flex-end;
}
.titlebar-button {
  -webkit-app-region: no-drag;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @apply min-h-0 min-w-0 h-5 w-6 !important;
}
.titlebar-button:hover {
  background: #5bbec3;
}
