*:not(.titlebar) {
  -webkit-app-region: no-drag;
}

.titlebar {
  @apply flex flex-row items-center justify-start bg-gray-600;
  height: 25px;
  width: 100%;
  background: #329ea3;
  user-select: none;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.titlebar-buttons {
  @apply flex flex-row items-center justify-self-stretch;
  justify-self: flex-end;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
.titlebar-button:hover {
  background: #5bbec3;
}
